@model SkiTickets.Pages.Pdf

<!DOCTYPE html>

<html lang="">
<head>
    <title>Ticket</title>
</head>
<body>
<div>
    <p>@Model.Ticket.TicketType.Name - @Model.Ticket.TicketType.Type ticket</p>
    <p>Age: @Model.Ticket.TicketType.Age</p>
    <p>Number of days: @Model.Ticket.TicketType.Days</p>
    <p>Price: @Model.Ticket.Price</p>
    <p>From: @Model.Ticket.FromDate</p>
    <p>To: @Model.Ticket.ToDate</p>
</div>
</body>
</html>